@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body
{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

h1
{
  padding: 1rem;
}

.main
{
  margin: 1.2rem;
}

.navbar-brand , .nav-link, .login-form
{
    font-family: Raleway, sans-serif;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.btn
{
  margin: 1rem;
}

/*
  TABLE STYLES
*/
tr th:first-child
{
    width:1%;
    white-space: nowrap;
}
tr td:last-child
{
    width:1%;
    white-space: nowrap;
    padding-right: 2rem;
}
.reports-row
{
  cursor: pointer;
}
.closed
{
  background-color: #C4C6C8;
}
.closed-status
{
  color: #ff3333;
}
.ticketNoRow
{
  text-align: center;
}

.edit-user
{
  align-content: right;
  padding-right: 3rem;
}
