include header.pug
script(src='/js/submit.js')
main.login-form
  .cotainer
    .row.justify-content-center
      .col-md-8
        .card
          .card-body
            h2.card-title= user
            form(method='POST' action='/account/update')
              #success.alert-success(role='alert')
              .form-group.row
                label(for='current') Current Password:
                input#current.form-control(type='password' name='current' required)
                #login_feedback.err_feedback
              .form-group.row
                label(for='pw') New Password:
                input#pw.form-control(type='password' name='password' required)
              .form-group.row
                label(for='pw_confirm') Confirm:
                input#pw_confirm.form-control(type='password' name='password_confirm' required)
                #pw_feedback.err_feedback
              button.btn.btn-primary(type='submit') Update
