mixin columnHeader(id, title, sort)
    th(scope='col' class= sort? 'descending':'' id=id)
        .cheader-content
            label.headerLabel=title
            .sortbox
                if(sort)
                    i.sort-button.fas.fa-caret-up.hidden
                    i.sort-button.fas.fa-caret-down
                else
                    i.sort-button.fas.fa-caret-up
                    i.sort-button.fas.fa-caret-down