script(src='/js/jquery.min.js')
script(src='js/bootstrap.min.js')
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='/js/submit.js')
script(src='/js/closeTicket.js')
script(src='/js/rowlink.js')
script(src='/js/sort.js')