link(rel='icon' href='/img/favicon.png' type='image/x-icon')
link(rel='shortcut icon' href='/img/favicon.png' type='image/x-icon')
link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
html
  head
    title= title
