link(rel='icon' href='/img/favicon.png' type='image/x-icon')
link(rel='shortcut icon' href='/img/favicon.png' type='image/x-icon')
link(href='/css/bootstrap.min.css' rel='stylesheet')
link(rel='dns-prefetch' href='https://fonts.gstatic.com')
link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,600' rel='stylesheet' type='text/css')
link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')
link(rel='stylesheet' href='/css/styles.css')

html
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  head
    title= title || 'IT Ticketing'
  include navbar.pug
