include header.pug

body
  h1 IT Reporting

  p This is just the index page. I assume something cool will go here at some point.
  p But for now it's just going to be a list of links, I guess.

  a(href='/users') Users
  br
  a(href='/reports') Reports
