include header.pug
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
// ---- Include the above in your HEAD tag --------
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Fonts
  link(rel='dns-prefetch' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,600' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='/css/styles.css')
  link(rel='icon' href='Favicon.png')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
  title= title
main.login-form
  .cotainer
    .row.justify-content-center
      .col-md-8
        .card
          .card-header= header
          .card-body
            form(action='/login' method='POST')
              if err
                .form-group.row.alert.alert-danger
                  strong= err
              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='username') Username
                .col-md-6
                  input#username.form-control(type='text' name='username' required='' autofocus='')
              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='password') Password
                .col-md-6
                  input#password.form-control(type='password' name='password' required='')
              .form-group.row
                .col-md-6.offset-md-4
                  .checkbox
                    label
                      input(type='checkbox' name='remember')
                      |  Remember Me
              .col-md-6.offset-md-4
                button.btn.btn-primary(type='submit')
                  | Login
