include header.pug
main.login-form
  .cotainer
    .row.justify-content-center
      .col-md-8
        .card
          .card-header= header
          .card-body
            form(action='/login' method='POST')
              if err
                .form-group.row.alert.alert-danger
                  strong= err
              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='username') Username
                .col-md-6
                  input#username.form-control(type='text' name='username' required='' autofocus='')
              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='password') Password
                .col-md-6
                  input#password.form-control(type='password' name='password' required='')
              .form-group.row
                .col-md-6.offset-md-4
                  .checkbox
                    label
                      input(type='checkbox' name='remember')
                      |  Remember Me
              .col-md-6.offset-md-4
                button.btn.btn-primary(type='submit')
                  | Login
