nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.shadow-sm
  a.navbar-brand(href='/') IT Ticketing
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
    if isAdmin
      ul.navbar-nav
        li.nav-item.dropdown
          button#adminDropdown.btn.btn-primary.nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            |
            <i class="fas fa-cog"></i>
          .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/users') Users
    if auth
      ul.navbar-nav
        li.nav-item.dropdown
          button#userDropdown.btn.btn-primary.nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            |
            <i class="fas fa-user"></i>
          .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/account')= auth
            .dropdown-divider
            a.dropdown-item(href='/logout') Logout
    else
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/login') Login
