include header.pug

.main
  h2 Add a Ticket:
  form(method='POST' action='/tickets/add')
    div.form-group
      label(for='requestedBy') Requested By:
      input#requestedBy.form-control(type='text' name='requestedBy' required)
    div.form-group
      label(for='category') Category:
      select#category.form-control(name='category' required)
        option(value='') -- Request Type --
        each categoryItem in categories
          option=categoryItem
    div.form-group
      label(for='subject') Subject:
      input#subject.form-control(type='text' name='subject' required)
    div.form-group
      label(for='comment') Description:
      textarea#comment.form-control(type='text' name='description' rows='8' required)
    div.form-group
      label(for='assignedTo') Assigned To:
      input#assignedTo.form-control(type='text' name='assignedTo' required)
    button.btn.btn-primary(type='submit') Submit
