include header.pug
main.login-form
  .cotainer
    .row.justify-content-center
      .col-md-8
        .card
          .card-body
            h2.card-title= user.username
            form(method='POST')
              .form-group.row
                label(for='current_pw') Current Password:
                input#pw.form-control(type='password' name='password')
              .form-group.row
                label(for='pw') New Password:
                input#pw.form-control(type='password' name='password')
              .form-group.row
                label(for='pw_confirm') Confirm:
                input#pw_confirm.form-control(type='password' name='password_confirm')
              .form-check.row
                input#isAdmin.form-check-input(type='checkbox' name='isAdmin' checked= user.admin ? true : false)
                label.form-check-label(for='isAdmin') Admin
              button.btn.btn-primary(type='submit' formaction='/users/' + user.rowid + '/update') Update
              button.btn.btn-danger.float-right(type='submit' formaction='/users/' + user.rowid + '/delete') Delete
