include header.pug

.main
  h2 Add a user:
  form(method='POST' action='/users/add' oninput='password_confirm.setCustomValidity(password_confirm.value != password.value ? "Passwords do not match." : "")')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text' name='username')
    div.form-group
      label(for='pw') Password:
      input#pw.form-control(type='password' name='password')
    div.form-group
      label(for='pw_confirm') Confirm Password:
      input#pw_confirm.form-control(type='password' name='password_confirm')
    div.form-check
      input#isAdmin.form-check-input(type='checkbox' name='isAdmin')
      label.form-check-label(for='isAdmin') Admin
    button.btn.btn-primary(type='submit') Add
footer
  include footer.pug