include header.pug
body
  h1= heading

  table.table.table-striped
    tr
      th(scope='col') Username
      th(scope='col') Admin
      th
    each user in users
      tr
        td= user.username
        td= user.admin ? 'Yes' : 'No'
        td
          a(href='/users/' + user.username).fas.fa-edit.edit-user

  a.btn.btn-primary(href='/users/add') Add
footer
  include footer.pug