include header.pug
main.login-form
  .cotainer
    .row.justify-content-center
      .col-md-8
        .card
          .card-body
            h2.card-title= user.username
            p= user.admin ? 'ADMIN' : 'NOT ADMIN'
            form(action='/users/' + user.rowid + '/delete' method='POST')
              button.btn.btn-danger(type='submit') Delete
